body{
  font-size: 14 pt;
  font-family:sans-serif;
  line-height: 20 pt;
}

h1{
  font-size: 22 pt;
  font-family: "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 33 pt;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 6 pt;
}

a{
  text-decoration-line: underline;
}

a:link, a:visted {
  color: #3E78B9;
}

footer{
  font-size: 10 pt;
  line-height: 15 pt;
  text-align: center;
  padding-top: 20 pt;
}
